@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <div><strong>Address:</strong></div>
    Sofia, 1000<br />
    Bulgaria<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@workouttracker.com">Support@workouttracker.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@workouttracker.com">Marketing@workouttracker.com</a>
</address>
