
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main</h2>


<h3>Add Workout</h3>

<div>Workout History</div>

<br>
<div>Plans</div>
<div>Workouts</div>
<div>Exercises</div>
