@model CreateExerciseViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exercise.ExerciseName" class="control-label"></label>
                <input asp-for="Exercise.ExerciseName" class="form-control" />
                <span asp-validation-for="Exercise.ExerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.TargetReps" class="control-label"></label>
                <input asp-for="Exercise.TargetReps" class="form-control" />
                <span asp-validation-for="Exercise.TargetReps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.TargetSets" class="control-label"></label>
                <input asp-for="Exercise.TargetSets" class="form-control" />
                <span asp-validation-for="Exercise.TargetSets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.TargetWeight" class="control-label"></label>
                <input asp-for="Exercise.TargetWeight" class="form-control" />
                <span asp-validation-for="Exercise.TargetWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.TargetMins" class="control-label"></label>
                <input asp-for="Exercise.TargetMins" class="form-control" />
                <span asp-validation-for="Exercise.TargetMins" class="text-danger"></span>
            </div>
            <select asp-for="Exercise.WorkoutId"  asp-items="@Model.Workouts"></select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

